{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="container">
        <table class="table">
            <tr>
                <th>Timestamp of Transaction</th>
                <th>Symbol</th>
                <th>Number of Shares</th>
                <th>Share Price</th>
            </tr>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock['Timestamp'] }}</td>
                    <td>{{ stock['stock'].upper() }}</td>
                    <td>{{ stock['shares'] }}</td>
                    <td>{{ (stock['price'])|usd }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}


<!--TEST {{ stocks }}-->